@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    font-family:"Itim", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    letter-spacing: 1px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 2rem;
    background-color: #eea5a5;

    .logo {
        display: flex;
        align-items: center;
        background-color: #eea5a5;
        gap: 1rem;
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 50%;
            background-color: #D9D9D9;
        }
        p {
            font-size: 24px;
            background-color: #eea5a5;
        }
    }

    .btn {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background-color: #eea5a5;
        .btn-home a, .btn-setting a {
            font-size: 18px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            background-color: #eea5a5;
            img, p {
                background-color: #eea5a5;
            }
            img {
                width: 45px;
                height: 45px;
            }
        }
    }
}

body {
    background-color: #bce4f6;
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h2 {
    color: #e66767;
    font-size: 28px;
    margin: 20px 0;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video-container {
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    border: 5px solid #eea5a5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#player {
    width: 100%;
    height: 400px;
}

#current-line {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    background-color: #eea5a5;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#current-line p {
    color: #ffffff;
    display: none;
    margin: 0;
}

.back-btn {
    margin-top: 3rem;
    a {
        font-size: 20px;
        text-decoration: none;
        color: #ffffff;
        background-color: #ff5e5e;
        padding: 10px 15px;
        border-radius: 20px;
        transition: 0.15s;
    }
    a:hover {
        background-color: #eea5a5;
        color: aliceblue;
    }
}