@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    font-family:"Itim", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8E3A1;
    color: #ffffff;
    letter-spacing: 1px;
}


.navbar {
    display: flex;
    flex-direction: row;
    padding-top: 0.1%;
    padding-left: 3%;
    padding-right: 3%;
    gap: 1%;
    background-color: #FFD1D1;
    .pf {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        .mooyoungimg {
            display: flex;
            align-items: center;
            background-color: transparent;
            img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                background-color: #D9D9D9;
                border-radius: 100%;
                border: none;
            }
        }
        .name{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            font-size: 30px;
            background-color: transparent;
            padding-right: 50%;
            white-space: nowrap;
        }
        .navv {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            font-size: 20px;
            background-color: transparent;
            gap: 150%;
            .home {
                padding-left: 150%;
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 20px;
                background-color: #FFD1D1;
            }
            .setting {
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 20px;
                text-decoration: none;
                gap: 10%;
                background-color: #FFD1D1;
            }
        }
    }
    
    p {
        background-color: transparent;
        border-radius: 25px;
        padding: 20px;
        color: white;
    }
}

.feature{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-top: 2.5%;
    .imgg {
        display: center;
        position: static;
        border: none;
        width: 90%;
        height: auto;
        margin: none;
    }
}