@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    font-family:"Itim", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8E3A1;
    color: #ffffff;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 2rem;
    background-color: #eea5a5;

    .logo {
        display: flex;
        align-items: center;
        background-color: #eea5a5;
        gap: 1rem;
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 50%;
            background-color: #D9D9D9;
        }
        p {
            font-size: 24px;
            background-color: #eea5a5;
        }
    }

    .btn {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background-color: #eea5a5;
        .btn-home a, .btn-setting a {
            font-size: 18px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            background-color: #eea5a5;
            img, p {
                background-color: #eea5a5;
            }
            img {
                width: 45px;
                height: 45px;
            }
        }
    }
}

.feature {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    padding: 2rem;
    gap: 2rem;

    a {
        display: inline-block;
        width: 280px;
    }
    
    .imgg {
        display: block;
        width: 100%;
        transition: transform 0.15s ease;
    }
    
    a:hover {
        .imgg {
            transform: scale(1.065);
        }
    }
}
