@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    font-family:"Itim", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    letter-spacing: 1px;
}

body {
    background-color: #F8E3A1;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 2rem;
    background-color: #eea5a5;

    .logo {
        display: flex;
        align-items: center;
        background-color: #eea5a5;
        gap: 1rem;
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 50%;
            background-color: gray;
        }
        p {
            font-size: 24px;
            background-color: #eea5a5;
        }
    }

    .btn {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background-color: #eea5a5;
        .btn-home a, .btn-setting a {
            font-size: 18px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            background-color: #eea5a5;
            img, p {
                background-color: #eea5a5;
            }
            img {
                width: 45px;
                height: 45px;
            }
        }
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.head-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #fd7b7b;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.song {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 315px;
    background-color: #FFA6A6;
}

.imagebtn {
    background-image: url(images/icons8-heart-100.png);
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 20px;
    margin: 0;
}

.randomsong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.name {
    display: flex;
    p {
        text-align: center;
        color: #fff;
        font-size: 28px;
    }
}

.inp{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.description {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: black;
    font-size: 17.5px;
    text-align: center;
}

.randomagain {
    a {
        text-decoration: none;
        color: white;
        display: inline-flex;
        padding: 13px 63px;
        justify-content: center;
        align-items: center;
        background-color: #FFA6A6;
        border-radius: 25px;
        cursor: pointer;
    }
    a:hover {
        background-color: #9CE391;
        transition: background-color 0.15s ease;
    }
}

.btnn {
    text-decoration: none;
    color: white;
    display: inline-flex;
    padding: 10px;
    
    justify-content: center;
    align-items: center;
    background-color: #d54747;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    
}

.btnn:hover {
    background-color: #9CE391;
    transition: background-color 0.15s ease;
}

.favorites-and-add-song {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3.3px;
}

.favorites {
    flex: 1;
    padding: 20px;
    background-color: #FFA6A6;
    border-radius: 15px;
    text-align: center;
    margin: 0 10px;
    max-height: 85vh;
    overflow-y: auto;
}

.selected-song, .add-song {
    flex: 1;
    padding: 20px;
    background-color: #FFA6A6;
    border-radius: 15px;
    text-align: center;
    margin: 0 10px;
    max-height: 85vh;
}

.songs a {
    text-align: left;
    text-decoration: none;
}

.favorites h2, .selected-song h2 {
    color: white;
}

.add-song h2 {
    padding-bottom: 3%;
    color: white;
}

.selected-song {
    background-color: #FFD1D1;
}

.selected-song p {
    color: white;
    font-size: 20px;
}

.favorites ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.favorites li {
    color: white;
    font-size: 18px;
    margin-bottom: 8px;
}

.add-song form label {
    color: white;
    font-size: 20px;
}

.add-song ::placeholder {
    color: white;
    font-size: 17px;
}


.add-song form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #FFD1D1;
    color: white;
    font-size: 17.5px;
}

.add-song form button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #9CE391;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 17.5px;
}

.add-song form button:hover {
    background-color: #7bbd6c;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-top: 0.1%;
    padding-left: 3%;
    padding-right: 3%;
    gap: 1%;
    background-color: #FFD1D1;
    .pf {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        .mooyoungimg {
            display: flex;
            align-items: center;
            background-color: transparent;
            img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                background-color: #D9D9D9;
                border-radius: 100%;
                border: none;
            }
        }
        .name{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            font-size: 30px;
            background-color: transparent;
            padding-right: 50%;
            white-space: nowrap;
        }
        .navv {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            font-size: 20px;
            background-color: transparent;
            gap: 150%;
            .home {
                padding-left: 150%;
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 20px;
                background-color: #FFD1D1;
            }
            .setting {
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 20px;
                text-decoration: none;
                gap: 10%;
                background-color: #FFD1D1;
            }
        }
    }
    
    p {
        background-color: transparent;
        border-radius: 25px;
        padding: 20px;
        color: white;
    }
}
.flashes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flashes li {
    color: #ff0000;
    font-size: 16px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.add-song form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #FFD1D1;
    font-size: 17.5px;
}

.bot{
    color: white;
}