@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Itim';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 70px;
        flex-shrink: 0;
        border-radius: 25px;
        background: #44ccf5;
        color: rgb(255, 255, 255);
        font-size: 20px;
        box-shadow: 0 4px 10px rgba(147, 142, 142, 0.5);
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #FFE0E0;
    overflow: hidden;
}

.mood-container {
    position: relative;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12%;
    padding-top: 10%;
}

.mood-wheel {
    justify-content: center;
    gap: 15% ;
    display: flex;
    transition: transform 0.5s ease;
}

.mood {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    cursor: pointer;
}
.photo {
    width: 250px;
    height: 250px;
    background-color: transparent;
}

.mood p {
    margin-top: 0px;
    font-size: 20px;
    color: #ab5252;
    background-color: transparent;
}

.mood.selected {
    transform: scale(1.2);
}

.reasons-container {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.reasons-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3%;
}
.reason {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    width: fit-content;
    height: 70px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #44ccf5;
    color: #ffffff;
    font-size: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(147, 142, 142, 0.5);
}
.reason-item {
    padding: 10px 15px;
    background-color: #bee6fa;
    color: #1b84ed;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}
.reason-item:hover {
    padding: 10px 15px;
    background-color: #ffd642;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}