@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    font-family:"Itim", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8E3A1;
    color: #ffffff;
    letter-spacing: 1px;
}


header {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    gap: 1%;
    .pf {
        display: flex;
        flex-direction: row;
        .mooyoungimg {
            display: flex;
            align-items: center;
            img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                background-color: #D9D9D9;
                border-radius: 100%;
                border: none;
            }
        }
        .name{
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 30px;
        }
        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            font-size: 20px;
            gap: 150%;
            /* padding-top: 10%; */
            
            .home {
                padding-left: 150%;
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 20px;
            }
            .setting {
                display: flex;
                text-align: center;
                align-items: center;
                font-size: 20px;
                text-decoration: none;
                gap: 10%;
            }
        }
    }
    
    p {
        background-color: transparent;
        border-radius: 25px;
        padding: 20px;
        color: white;
    }
}
