@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-family: "Itim", cursive;
        font-weight: 400;
        font-style: normal;
        border-radius: 20px;
        border: 2px solid #000;
        background: #FFE605;
        color: #FFF;
        font-size: 50px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 8px;
        padding: 20px 70px;
        color: #FFF;
        text-decoration: none;
        transition: background-color 0.3s ease, transform 0.3s ease;
        max-width: 100%;
        white-space: nowrap;
    }
    a:hover {
        background-color: #9CE391;
        transform: scale(1.05);
    }
}
