<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/anger.css">
    <title>anger</title>
</head>
<body>
    <header>
        <div class="item">
            <div class="image">
                <img src="{{ url_for('static', filename='images/IMGanger.PNG') }}" alt="angerimg">
            </div>
            <h1>why?</h1>
        </div>
    </header>

    <div class="container">
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'Anger', why='เดือดดาล') }}">รู้สึกเดือดดาล</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'Anger', why='อารมณ์เสีย') }}">อารมณ์เสีย</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'Anger', why='เคียดแค้น') }}">รู้สึกเคียดแค้น</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'Anger', why='ประชดประชัน') }}">ประชดประชัน</a>
        </div>
    </div>
</body>
</html>
