<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/anger.css">
    <title>anger</title>
</head>
<body>
    <header>
        <div class="item">
            <div class="image">
                <img src="/images/IMGanger.PNG" alt="angerimg">
            </div>
            <h1>why?</h1>
        </div>
    </header>

    <div class="container">
        <div class="btn">
            <a href="#">รู้สึกเดือดดาล</a>
        </div>
        <div class="btn">
            <a href="#">อารมณ์เสีย</a>
        </div>
        <div class="btn">
            <a href="#">รู้สึกเคียดแค้น</a>
        </div>
        <div class="btn">
            <a href="#">ประชดประชัน</a>
        </div>
    </div>
</body>
</html>
