<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/excited.css">
    <title>excited</title>
</head>
<body>
    <header>
        <div class="item">
            <div class="image">
                <img src="/images/IMGexcited.PNG" alt="excitedimg">
            </div>
            <h1>why?</h1>
        </div>
    </header>

    <div class="container">
        <div class="btn">
            <a href="#">เร้าใจ</a>
        </div>
        <div class="btn">
            <a href="#">ประหม่า</a>
        </div>
        <div class="btn">
            <a href="#">คาดหวัง</a>
        </div>
        <div class="btn">
            <a href="#">ท้าทาย</a>
        </div>
    </div>
</body>
</html>
