<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/feel.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>วันนี้คุณรู้สึกอย่างไร?</h1>
        </div> 
    </header>
    <div class="container">
        <div class="row">
            <div class="happy">
                <img src="../images/IMGhappy.PNG" alt="happy">
                <button type="submit" class="btn">Happy</button>
            </div>
            <div class="sad">
                <img src="../images/IMGsad.PNG" alt="sad">
                <button type="submit" class="btn">Sad</button>
            </div>
            <div class="anger">
                <img src="../images/IMGanger.PNG" alt="anger">
                <button type="submit" class="btn">Angry</button>
            </div>
        </div>
        <div class="row">
            <div class="inspiration">
                <img src="../images/IMGinspiration.PNG" alt="inspiration">
                <button type="submit" class="btn">Inspiration</button>
            </div>
            <div class="excited">
                <img src="../images/IMGexcited.PNG" alt="Excited">
                <button type="submit" class="btn">Excited</button>
            </div>
        </div>
    </div>
</body>