<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/happy.css">
    <title>happy</title>
</head>
<body>
    <header>
        <div class="item">
            <div class="image">
                <img src="{{ url_for('static', filename='images/IMGhappy.PNG') }}" alt="happyimg">
            </div>
            <h1>why?</h1>
        </div>
    </header>

    <div class="container">
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'happy', why='รู้สึกพอใจ') }}">รู้สึกพอใจ</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'happy', why='รู้สึกซาบซึ้ง') }}">รู้สึกซาบซึ้ง</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'happy', why='รู้สึกเติมเต็ม') }}">รู้สึกเติมเต็ม</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'happy', why='รู้สึกยินดี') }}">รู้สึกยินดี</a>
        </div>
    </div>
</body>
</html>
