<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backgroung Image</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body 
style="background: url(/images/IMG_4274.PNG);
            background-size: contain;
            background-color: #ffcd28;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            margin: 0;
            ">
</body>
<moosic-name>
    <div class="namemoosic-btn"> 
        <a href="/templates/login.html" class="mooaic">MOO-SIC</a>
    </div>
</moosic-name>
</html>
