<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/inspiration.css">
    <title>inspiration</title>
</head>
<body>
    <header>
        <div class="item">
            <div class="image">
                <img src="{{ url_for('static', filename='images/IMGinspiration.PNG') }}" alt="inspirationimg">
            </div>
            <h1>why?</h1>
        </div>
    </header>

    <div class="container">
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'inspiration', why='เกี่ยวกับความรัก') }}">เกี่ยวกับความรัก</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'inspiration', why='มีเป้าหมาย') }}">มีเป้าหมาย</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'inspiration', why='อยากเชื่อมั่นในตนเอง') }}">อยากเชื่อมั่นในตนเอง</a>
        </div>
        <div class="btn">
            <a href="{{ url_for('randomsong', mood = 'inspiration', why='อยากจะเริ่มต้นใหม่') }}">อยากจะเริ่มต้นใหม่</a>
        </div>
    </div>
</body>
</html>
