<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="TF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,
    initail-scale=1.0">
    <title>MOO-SIC</title>
    <link rel="stylesheet" href="/static/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Login</h1>
        </div> 
    </header>
    
    <div class="container">
        <div class="wrapper">
            <form action="{{ url_for('login') }}" method="POST">
            {% if mesage is defined and mesage %}
                    <div class="alert alert-warning">{{ mesage }}</div>
                {% endif %}
                <div class="input-box">
                    <input type="text" id="username" name="username" required>
                    <box-icon type='solid' name='user'></box-icon>
                </div>
                <div class="input-box">
                    <input type="password" id="password" name="password" required>
                    <box-icon name='lock' type='solid' ></box-icon>
                </div>
    
                <!-- <div>
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#">Forget password</a>
                </div> -->
    
                <button type="submit" class="btn">Login</button>
    
                <div class="register-link">
                    <p>Don't have an account? <a 
                    href="{{ url_for('signup') }}">Sign Up</a></p>
    
                </div>
            </form>
        </div>
    </div>
    
    <footer>
        <div class="image">
            <img src="75b31b453e78f0f218308f7d0db040ec.png" alt="happy">
        </div>
    </footer>
</body>
</html>
