<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/profile.css">
</head>
<body>
    <header>
        <div class="mooyoungimg"> <img src="/images/Layer/IMG_4276.PNG" alt=""></div>
        <div class="name"><p>Bambisac</p></div>
    </header>
    <section><p>My Favorite</p></section>
    <div class="container">
        <ol>
            <li>
                <div class="songname"><p>song</p></div>
                <div class="artist"><p>bambi</p></div>
                <div class="youtube"><a href="https://youtu.be/Ey53EQhkLY8"><img src="/images/yt-icon.png" alt=""></a></div>
            </li>
        </ol>
    </div>
</body>
</html>