<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my profile</title>
    <link rel="stylesheet" href="/static/profile.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-item-container">
            <div class="logoutbtn">
                <a href="#">log out</a>
            </div>
            <div class="select">
                <a href="#">เลือก mood อีกครั้ง</a>
            </div>
        </div>
    </nav>
    <header>
        <div class="mooyoungimg">
            <img src="{{ url_for('static', filename='images/mooyoung.PNG') }}" alt="profile-img">
        </div>
        <div class="name">
            <p>{{ username }}</p>
        </div>
    </header>

    <section>
        <p>My Favorite Songs</p>
    </section>

    <div class="container">
        {% if songs %}
            <ul>
                {% for song in songs %}
                    <li>
                        <div class="songname">
                            <p>{{ song['Song'] }}</p>
                        </div>
                        <div class="artist">
                            <p>{{ song['Artists'] }}</p>
                        </div>
                        <div class="youtube">
                            <a href="{{ song['yt'] }}">
                                <img src="{{ url_for('static', filename='images/yt-icon.png') }}" alt="youtube-icon">
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No songs found.</p>
        {% endif %}
    </div>
</body>

</html>