<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="TF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,
    initail-scale=1.0">
    <link rel="stylesheet" href="../static/randomsong.css">
    <link href='#' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="logo">
            <h1>นี่คือเพลงที่เราเลือกให้คุณ!</h1>
        </div>
    </header>
    <div class="container">
        <div class="song">
        </div>
    </div>
    <section>
        <div class="name">
            <h3>artist name</h3>
        </div>
        <button class="imagebtn" aria-label="Click me">
        </button>
        <div class="row">
            <div class="randomagain">
                <a href="#">สุ่มใหม่</a>
            </div>
            <div class="moodagain">
                <a href="#">เลือก mood อีกครั้ง</a> 
            </div>
        </div>
        <button class="nextbtn" aria-label="Click me"></button>
    </section>
</body>
