<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เลือก Mood</title>
    <link rel="stylesheet" href="/static/selectmood.css">
    <script src="/static/js/scriptforcalendar.js" defer></script> 
</head>

<body>
    <header>
        <div class="logo">
            <h1>วันนี้คุณรู้สึกอย่างไร?</h1>
        </div>
    </header>
    <div class="mood-container">
        <div class="mood-wheel">
            <div class="mood" data-mood="Happy">
                <img src="{{ url_for('static', filename='images/IMGhappy.PNG') }}" class="photo" alt="Happy" />
                <p><span>Happy</span></p>
            </div>
            <div class="mood" data-mood="Sad">
                <img src="{{ url_for('static', filename='images/IMGsad.PNG') }}" class="photo" alt="Sad" />
                <p><span>Sad</span></p>
            </div>
            <div class="mood" data-mood="Excited">
                <img src="{{ url_for('static', filename='images/IMGexcited.PNG') }}" class="photo" alt="Excited" />
                <p><span>Excited</span></p>
            </div>
            <div class="mood" data-mood="Inspiration">
                <img src="{{ url_for('static', filename='images/IMGinspiration.PNG') }}" class="photo" alt="Inspiration" />
                <p><span>Inspiration</span></p>
            </div>
            <div class="mood" data-mood="Angry">
                <img src="{{ url_for('static', filename='images/IMGanger.PNG') }}" class="photo" alt="Angry" />
                <p><span>Angry</span></p>
            </div>
        </div>
    </div>

    <div class="reasons-container" style="display: none;">
        <h3 class="reason">WHY?</h3>
        <div class="reasons-list"></div>
    </div>
</body>
</html>