<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/feel.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1>วันนี้คุณรู้สึกอย่างไร?</h1>
        </div> 
    </header>
    <div class="container">
        <div class="row">
            <div class="happy">
                <img src="{{ url_for('static', filename='images/IMGhappy.PNG') }}" alt="happy">
                <a href="{{ url_for('happy') }}"><button type="submit" class="btn">Happy</button></a>
            </div>
            <div class="sad">
                <img src="{{ url_for('static', filename='images/IMGsad.PNG') }}" alt="sad">
                <a href="{{ url_for('sad') }}"><button type="submit" clsadss="btn">Sad</button></a>
            </div>
            <div class="anger">
                <img src="{{ url_for('static', filename='images/IMGanger.PNG') }}" alt="anger">
                <a href="{{ url_for('anger') }}"><button type="submit" class="btn">Angry</button></a>
            </div>
        </div>
        <div class="row">
            <div class="inspiration">
                <img src="{{ url_for('static', filename='images/IMGinspiration.PNG') }}" alt="inspiration">
                <a href="{{ url_for('inspiration') }}"><button type="submit" class="btn">Inspiration</button></a>
            <div class="excited">
                <img src="{{ url_for('static', filename='images/IMGexcited.PNG') }}" alt="Excited">
                <a href="{{ url_for('excited') }}"><button type="submit" class="btn">Excited</button></a>
            </div>
        </div>
    </div>
</body>