<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="../static/m.css">
</head>
<body>
    <nav class="navbar">
        <div class="pf">
            <div class="mooyoungimg">
                <img src="{{ url_for('static', filename='images/mooyoung.PNG') }}" alt="profile-img">
            </div>
            <div class="name">
                <p>MOO-SIC</p>
            </div>
            <div class="navv">
                <div>
                    <a href="{{ url_for('m') }}" class="home"><p>Home</p></a>
                </div>
                <div>
                    <a href="{{ url_for('settings') }}" class="setting"><p>Settings</p></a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>