<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/inspiration.css">
    <title>inspiration</title>
</head>
<body>
    <header>
        <div class="item">
            <div class="image">
                <img src="/images/IMGinspiration.PNG" alt="inspirationimg">
            </div>
            <h1>why?</h1>
        </div>
    </header>

    <div class="container">
        <div class="btn">
            <a href="#">เกี่ยวกับความรัก</a>
        </div>
        <div class="btn">
            <a href="#">มีเป้าหมาย</a>
        </div>
        <div class="btn">
            <a href="#">อยากเชื่อมั่นในตนเอง</a>
        </div>
        <div class="btn">
            <a href="#">อยากจะเริ่มต้นใหม่</a>
        </div>
    </div>
</body>
</html>
