<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/sad.css">
    <title>sad</title>
</head>
<body>
    <header>
        <div class="item">
            <div class="image">
                <img src="/images/IMGsad.PNG" alt="sadimg">
            </div>
            <h1>why?</h1>
        </div>
    </header>

    <div class="container">
        <div class="btn">
            <a href="#">อกหัก</a>
        </div>
        <div class="btn">
            <a href="#">ท้อแท้</a>
        </div>
        <div class="btn">
            <a href="#">หดหู่</a>
        </div>
        <div class="btn">
            <a href="#">เศร้าซึม</a>
        </div>
    </div>
</body>
</html>
